@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary: #ffdb2d;
  --color-background-light: #f8f8f5;
  --color-background-dark: #23220f;
  --color-dark-surface: #181811;
  --color-accent-gray: #e6e6db;
}

@layer utilities {
  .container {
    max-width: 100%;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1400px;
    }
  }
}
